{% extends 'main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="mt-5 mx-5">
    <h3>Allison Rodrigo Pessoa da Silva</h3>
    <p> Phone number: +55 81 99946-2657 (WhatsApp) </p>
    <p> E-mail: allisonpessoa@hotmail.com | allison.pessoa@ufpe.br </p>
    
    <h4> PROFESSIONAL EXPERIENCE </h4> <hr>
        <div class="mx-3 mt-1 mb-4">
            <li> 2022 – 2023: &emsp; <b>Scientific Researcher</b>
                <div class="mx-4 mt-1 mb-0"><p>Ludwig-Maximilians-Universität (LMU), Munich, Germany</p></div>
                <div class="mx-4 mt-0"><p>Activities: Data analysis and visualization for photonics experiments; Instrumentation for Optics and Photonics devices; Optical systems engineering; Ultrafast nanophotonics; Technical reports; Nanofabrication: Electron-beam lithography.</p></div>
            </li>
        
            <li> 2018 – 2022: &emsp; <b>Teaching Assistant</b>
                <div class="mx-4 mt-1 mb-0"><p>Federal Institute of Pernambuco (IFPE), Recife-PE, Brazil</p></div>
                <div class="mx-4 mt-0"><p>Activities: Teaching assistant of construction materials laboratory analysis; Written technical reports; Management of personnel.</p></div>
            </li>
        </div>

    <h4> EDUCATION </h4> <hr>
        <div class="mx-3 mt-1 mb-4">
            <li> 2021 – 2022: &emsp; <b>Master’s degree in Physics (GPA: 4.0/4.0)</b>
                <div class="mx-4 mt-1 mb-0"><p>Federal University of Pernambuco (UFPE), Recife, Brazil</p></div>
                <div class="mx-4 mt-0"><p>Activities: Hyperspectral image data processing; Optical systems engineering; Computational dynamics simulations; Scanning-probe microscopy.</p></div>
            </li>
        
            <li> 2017 – 2021: &emsp; <b>Bachelor’s degree in Physics (GPA: 8.89/10)</b>
                <div class="mx-4 mt-1 mb-0"><p>Federal University of Pernambuco (UFPE), Recife, Brazil</p></div>
                <div class="mx-4 mt-0"><p>Activities: Software and Hardware development for photonics experiments.</p></div>
            </li>

            <li> 2015 – 2017: &emsp; <b>Technician in building construction</b>
                <div class="mx-4 mt-1 mb-0"><p>Federal Institute of Pernambuco (IFPE), Recife, Brazil</p></div>
            </li>
        </div>
	
    <h4> PROGRAMMING LANGUAGES | SKILLS </h4> <hr>
        <div class="mx-3 mt-1 mb-4">
            Python (+++); &emsp; C / C++ (++);	&emsp; SQL (++); &emsp; GCP (++); &emsp; git version control (++);	&emsp; Arduino (+++);
        </div>
    
    <h4> LANGUAGES </h4> <hr>
        <div class="mx-3 mt-1 mb-4">
            <li> ENGLIGH: &emsp; Fluent</li>
            <li> PORTUGUESE: &emsp; Native Speaker</li>
            <li> GERMAN: &emsp; Basic</li>
        </div>

    <h4> TRAINING </h4> <hr>
        <div class="mx-3 mt-1 mb-5">
            <li> 2020: &emsp; <b>5ª Advanced School in Experimental Physics (64h)</b>
                <div class="mx-4 mt-1 mb-0"><p>Brazilian Center for Physics Research (CBPF), Rio de Janeiro, Brazil.</p></div>
                <div class="mx-4 mt-0"><p>Activities: Training on analogical and digital electronics; FPGA programming (hardware and software) for instrumentation in photnics experiments.</p></div>
            </li>

            <li> 2019: &emsp; <b>Summer School of the Physics Department of UFPE (60h)</b>
                <div class="mx-4 mt-1 mb-0"><p>Federal University of Pernambuco (UFPE), Recife, Brazil.</p></div>
                <div class="mx-4 mt-0"><p>Activities: Theoretical course on Advanced Quantum Mechanics; Experimental course on Computational Methods for physics.</p></div>
            </li>
        </div>
</div>

{% endblock content %}