{% extends 'main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="resume-section" id="about">
<div class="resume-section-content">
    <h1 class="mb-0">
        Pessoa
        <span class="text-primary">Allison</span>
    </h1>
    <div class="subheading mb-5">
        Data Analyst. 
        <a href="mailto:allisonpessoa@hotmail.com">allisonpessoa@hotmail.com</a>
    </div>
    <p class="lead mb-5">Hello World! I am a Physicist with a MSc degree in Applied Physics and a passion for statistical data analysis and software development. I have been doing data analysis and visualization for photonics experiments for over 4 years. My master's degree project focused on visualization and data processing of hyperspectral microscopy images (<a href="https://pubs.acs.org/doi/full/10.1021/acsami.2c08709">Check out my latest paper in a top-world journal</a>).</p>        
    <!-- <p class="lead mb-5">Most of my work concentrates on Research and Development. I worked at the Ludwig-Maximilians-Universität (LMU) Munich-Germany as a Scientific Researcher in the field of Optics and Photonics. I also have worked as a Teaching Assistant at the Federal Institute of Pernambuco, Recife, Brazil for laboartory classes. I am always looking for collaborations to expand my knowledge and networking. Please do not hesitate in contacting me if you have a project in which I could be involved.</p> -->
    
    
    <div class="social-icons flex-md-row ">
        <a class="social-icon" href="https://www.linkedin.com/in/allison-pessoa-bb6b71a9/"><i class="fab fa-linkedin fa-1x"></i></a>
        <a class="social-icon" href="https://github.com/AllisonPessoa"><i class="fab fa-github fa-1x"></i></a>
        <a class="social-icon" href="https://scholar.google.com/citations?user=QACNqQEAAAAJ&hl=en"><i class="ai ai-google-scholar"></i></a>
        <a class="social-icon" href="https://www.researchgate.net/profile/Allison-Pessoa"><i class="ai ai-researchgate ai-1x"></i></a>
        <a class="social-icon" href="https://orcid.org/0000-0003-4418-7068"><i class="ai ai-orcid ai-1x"></i></a>
        <a class="social-icon" href="http://lattes.cnpq.br/2793024432453408"><i class="ai ai-lattes ai-1x"></i></a>
        
    </div>
</div>
</section>

<!-- <section class="resume-section" id="research">
    <div class="resume-section-content">
        <h1 class="mb-0">
            <span class="text-primary">My research</span>
        </h1>
        <div class="social-icons flex-md-row ">
            <div class="row gx-5 mt-5 mx-auto">
                <div class="col-lg-3 mb-5">
                    <img class="card-img-top rounded-circle mx-auto mb-2" src="{% static 'assets/img/saws.jpg' %}" alt="..." />
                    <p>Surface Acoustic Wave generation and manipulation with plasmonic nanostructures</p>
                </div>

                <div class="col-lg-3 mb-5">
                    <img class="card-img-top rounded-circle mx-auto mb-2" src="{% static 'assets/img/chiral.jpg' %}" alt="..." />
                    <p>Design of metasurfaces for chiral light-matter interaction</p>
                </div>

                <div class="col-lg-3 mb-5">
                    <img class="card-img-top rounded-circle mx-auto mb-2" src="{% static 'assets/img/sensing.jpg' %}" alt="..." />
                    <p>Nanoscale temperature and magnetic field sensing</p>
                </div>
            </div>
        </div>
    </div>

</section>-->

{% endblock content %}